@{
    ViewData["Title"] = "Home Page";
}

<div class="begin">
    <h1>Choose a Disaster, and Get Prepared!</h1>
</div>
<div class="wrapper">
    <div>

        <button class="ending" type="submit">Hurricane<img src="~/images/rain.png" width=" 50spx" /></button>

    </div>
    
    <div>

        <button class="ending2" type="submit">Earthquake<img src="~/images/cracked-ground-between-houses (1).png" width="50spx"  /></button>

    </div>
    
    <div>
        
            <button class="ending3" type="submit">Tsunami<img src="~/images/warning-signal-of-big-waves.png" width=" 50spx" /></button>
        
    </div>
    
    <div>
        <button class="ending4" type="submit">Wildfire<img src="~/images/fire.png" width="50px" /></button>
    </div>
</div>
